
        .small-box {
            border-radius: 0.25rem;
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            position: relative;
            color: #fff;
            padding: 20px;
            overflow: hidden;
        }
        .small-box .inner {
            padding: 5px 10px;
        }
        .small-box h3 {
            font-size: 38px;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
        .small-box p {
            font-size: 18px;
        }
        .small-box .icon {
            position: absolute;
            top: -20px;
            right: 10px;
            z-index: 0;
            font-size: 90px;
            opacity: 0.3;
        }
        .small-box.bg-info {
            background-color: #17a2b8 !important;
        }
        .small-box.bg-success {
            background-color: #28a745 !important;
        }

        #myChartContainer, #myBarChartContainer {
            width: 80%; /* Ajusta el tamaño del contenedor para que el gráfico sea más pequeño */
            margin: auto;
        }
        .chart-wrapper {
            display: flex;
            justify-content: space-around;
        }
        .card {
            margin: 10px;
        }
